/* Global Styles 

font weights:
- 400: Regular
- 600: Semi-bold
- 900: Bold

line heights:
- 1: 100%
- 1.5: 150%
- 2: 200%
- 3: 300%

colors:
primary color: #e67e22

tints:
- #f7e8b1


shades:
- #d18b1f
- #b97f1d

grays:
-#333

shadows:

border-radius:

white-space:


*/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted #333;
  outline-offset: 0.8rem;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #333;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 1.5rem;
}

.align-center {
  align-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.hero {
  background-color: #f8f0ea;
  padding: 6.4rem 0 9.6rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
  align-self: flex-start;
}

.heading-primary {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  letter-spacing: -0.5px;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  line-height: 1.7;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.5;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease-out;
}

.btn-full {
  background-color: #e67e22;
  color: #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

.btn-full:hover,
.btn-full:active {
  background-color: #b15504;
}

.btn-ghost {
  background-color: #ffffff;
  color: #525252;
  border: 0.1rem solid #a2a2a2;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: transparent;
}

.faces {
  display: flex;
}

.faces img {
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #f8f0ea;
}

.deliverd {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
  gap: 1.6rem;
}

.deliverd-text {
  font-weight: 500;
  align-content: center;
  font-size: 1.6rem;
}

.units {
  color: #e67e22;
  font-weight: 700;
  text-decoration: 2 px underline;
}

.logo {
  width: 15rem;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.header {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f0ea;
  padding: 0 4.8rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-out;
}

.nav-button:link,
.nav-button:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease-out;
}

.nav-button:hover,
.nav-button:active {
  background-color: #b15504;
}

.how {
  padding: 9.6rem 0;
  margin: 0 auto;
}

.step-img img {
  width: 40%;
}
.step-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.step-img::before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  width: 80%;
  padding-bottom: 80%;
  background-color: #ffd7b5;
}
.step-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: auto;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  border-radius: 50%;
  z-index: -1;
  width: 60%;
  padding-bottom: 60%;
  background-color: #e67e22;
}

.step-number {
  font-size: 4.8rem;
  font-weight: 700;
  color: #e67e22;
  opacity: calc(1 / 2);
  margin-bottom: 1.6rem;
}

.step-number {
  position: relative;
}

.step-number::after {
  content: "STEP";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  transform: translate(-50%, -80%);
}

.feat-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 6.4rem 0;
  display: block;
  justify-self: center;
  color: #333;
  opacity: calc(1 / 2);
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  filter: sepia(100%);
  opacity: calc(1 / 1.5);
}

.meals {
  padding: 9.6rem 0;
}

.meal img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: block;
  object-fit: cover;
  margin-bottom: -1.6rem;
}

.meal {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  width: 80%;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-2rem);
  transition: all 0.3s;
  box-shadow: 0 3.2rem 3rem rgba(0, 0, 0, 0.2);
}

.meal-text {
  padding: 2.4rem;
  margin-top: 1.2rem;
}

.meal-description {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  line-height: 1.4;
  width: 100%;
  margin-top: -1.4rem;
}

.meal-atts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  margin-top: 1.6rem;
}

.meal-att {
  display: flex;
  align-items: center;
}

ion-icon {
  font-size: 1.6rem;
  color: #e67e22;
  margin-right: 0.8rem;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-weight: 700;
  font-size: 1.6rem;
  opacity: calc(70%);
}

.diets {
  width: 80%;
  padding: 3.2rem;
  border-radius: 10px;
}

.diets h3 {
  color: #e67e22;
}

.center {
  justify-items: center;
}

.all-recipes {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}
.recipes:link,
.recipes:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.recipes:hover,
.recipes:active {
  color: #b15504;
  border-bottom: 1px solid transparent;
}

.testimonials-gallery {
  align-items: center;
  background-color: #f8f0ea;
  grid-template-columns: 55fr 45fr;
}

.testimonials-container {
  padding: 0 4.8rem;
}

.testimonial {
  padding: 0 2.4rem;
  width: fit-content;
}

.testimonial-img {
  width: 30%;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 1.6rem;
  border: 2px ridge #b15504;
}

.testimonial-text {
  line-height: 1.8;
  font-size: 1.1rem;
}

.testimonial-name {
  margin-top: 1rem;
  font-size: 1.3rem;
  opacity: calc(75%);
  filter: brightness(200%);
}

.gallery-img {
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.gallery-img:hover {
  transform: scale(1.15);
}

.gallery figure {
  width: 30%;
  overflow: hidden;
}

.gallery {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.color {
  color: #e67e22;
}

.plan-text {
  padding: 1.6rem 0;
}

.pricing-heading {
  text-align: center;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.pricing .grid {
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}
.plan-price {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
}

.pricing {
  padding: 9.6rem 0;
}

.price-box {
  margin-top: 3.2rem;
  text-align: center;
}

.tax {
  display: block;
  text-align: center;
  font-size: 1rem;
  opacity: calc(75%);
  margin-top: 1rem;
  margin-bottom: 3.2rem;
}

.plan {
  border-radius: 1rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
  width: 80%;
  background-color: #f8f0ea;
  padding: 1.8rem 4.8rem;
}

.second {
  border: 2px solid #ffd7b9;
  background-color: #fff;
  padding: 1.6rem 4.6rem;
}

.best {
  position: relative;
  overflow: hidden;
}

.best::after {
  content: "Best Value";
  padding: 1rem 4rem;
  text-transform: uppercase;
  position: absolute;
  font-size: 1.4rem;
  background-color: rgb(255, 233, 87);
  top: 6%;
  left: -11%;
  rotate: calc(-45deg);
  font-weight: 700;
}

.features-grid {
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.2rem;
  margin-top: 9.6rem;
}

.span {
  display: block;
  grid-column: 1/-1;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

.feature-box ion-icon {
  font-size: 3.2rem;
  padding: 1rem;
  background-color: #ffd7b9;
  border-radius: 333333333rem;
}

.taxes {
  margin-top: 4.8rem;
  font-size: 1.1rem;
  opacity: calc(75%);
  justify-self: center;
  margin-bottom: 9.6rem;
}

.cta-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #e67e22, #ffd7b9);
  box-shadow: 0 2.4rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 9.6rem;
}

.cta-textbox {
  color: #2e1907;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  font-size: 1.4rem;
}

.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 1.6rem;
}

.cta-img {
  background-image: linear-gradient(
      to right bottom,
      hsla(28, 80%, 52%, 0.49),
      #ffd7b94f
    ),
    url("../content/img/eating.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  align-items: end;
  row-gap: 2.4rem;
}

.cta-text {
  margin-bottom: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  padding: 0 1rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input {
  padding: 1rem 2rem;
  width: 100%;
  color: inherit;
  border-radius: 1rem;
  border: 1px solid #e67e22;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.cta-form input::placeholder {
  opacity: calc(50%);
}
.cta-form select {
  padding: 1rem 2rem;
  font-family: inherit;
  width: 100%;
  border-radius: 1rem;
  color: inherit;
  border: 1px solid #e67e22;
  font-size: 1.6rem;
  font-weight: 500;
}
.cta-form button {
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #525252;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  border: 0;
  transition: all 0.3s ease-out;
}

.cta-form button:hover {
  background-color: #563212;
}

.grid-5 {
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  align-items: start;
}

.footer {
  padding: 6.4rem 0;
  background-color: #f8f0ea;
}

.footer-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.foot-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

.social {
  display: flex;
  margin-top: 2.4rem;
  gap: 1.6rem;
  list-style: none;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 500;
  color: #767676;
  line-height: 1.5;
  width: 80%;
}

.contact {
  font-style: normal;
  font-size: 1.3rem;
}

address a {
  color: #767676;
}

address {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
